body {
  background: #f6fbf8;
}

.auth-logo {
  width: 8rem;
  height: 8rem;
  border-radius: 8rem;
  background: #a4dff9;
  display: inline-block;
}

.auth-form {
  background: #fff;
  padding: 1rem 2rem !important;
}

.welcome-text {
  color: #024154;
  font-size: 1.9rem;
  font-weight: 600;
  
}

.welcome-sub {
  color: #7da4b3;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.submit-btn {
  width: 100%;
}
