body {
  background: #f6fbf8;
}

.navbar-container {
  background: #4fc3f7;
}

.page-container {
  padding: 1rem 0;
}

.auth-logo {
  width: 8rem;
  height: 8rem;
  border-radius: 8rem;
  background: #a4dff9;
  display: inline-block;
}

.auth-form {
  background: #fff;
  padding: 1rem 2rem !important;
}

.welcome-text {
  color: #024154;
  font-size: 1.9rem;
  font-weight: 600;
  
}

.welcome-sub {
  color: #7da4b3;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.submit-btn {
  width: 100%;
}

.row .col{
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

.card-alert button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
  color: inherit;
}
.card-alert a{
  color: inherit;
  font-weight: 500;
}
.card-alert a:hover{
  color: inherit;
  text-decoration: underline;
}